  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('/Assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: white;
  }
  
  h1 {
    font-size: 65px;
    margin-top: 10pc;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .form-container {
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    color: white;
    
  }

  textarea {
    margin-left : 18pc;
    width: 60%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
  }

  button {
    margin-left : 18.3pc;
    margin-top: 15px;
    width: 61%;
    padding: 10px;
    background-color: #60bad1;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: #ff4d4d;
  }
